body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f1f3;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

.login-card h1 {
    text-align: center;
    color: #2563eb;
}

.login-card h3 {
    text-align: center;
    color: gray;
    margin-bottom: 25px;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.login-card button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.login-card button:hover {
    background: #1d4ed8;
}

.error-text {
    color: #ef4444;
    font-size: 13px;
    margin-top: -15px;
    margin-bottom: 15px;
    display: block;
    text-align: left;
}

.input-error {
    border-color: #ef4444 !important;
}

.api-error {
    background-color: #fef2f2;
    border: 1px solid #fee2e2;
    color: #ef4444;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}