.chart-card{

    background:white;

    margin-top:40px;

    padding:20px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.bars{

    display:flex;

    align-items:flex-end;

    gap:20px;

    height:220px;

    margin-top:20px;

}

.bar{

    width:50px;

    background:#2563eb;

    border-radius:8px 8px 0 0;

}