.risk-card{

    background:white;

    margin-top:30px;

    border-radius:18px;

    padding:30px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.risk-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.risk-header h2{

    margin:0;

}

.risk-header span{

    color:gray;

}

.risk-circle{

    width:180px;

    height:180px;

    margin:35px auto;

    border-radius:50%;

    border:12px solid #ef4444;

    display:flex;

    justify-content:center;

    align-items:center;

}

.risk-circle h1{

    color:#ef4444;

    font-size:50px;

}

.risk-card h3{

    text-align:center;

    color:#ef4444;

    margin-bottom:30px;

}

.risk-details{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}

.risk-details div{

    background:#f8fafc;

    padding:20px;

    border-radius:12px;

    text-align:center;

}

.risk-details p{

    color:gray;

    margin-bottom:8px;

}

.risk-details b{

    font-size:24px;

}